.continer {
    display: flex;
}

.title {
    color: white;
}

.contents {
    color: white;
}
.genereGroup {
    color:white;
}
.genereList {
    background-color: gold;
    display: inline-block;
    margin: 5px;
    padding: 4px;
    border-radius: 5px;
    font-size: 16px;
}