.movieMainDiv {
  width: 230px;
}
.movieTitleDiv {
  margin: 5px;
}
.titleLink {
  margin: 5px 0;
  text-decoration: none;
  color: white;
}
.genreBlock {
  margin: 0;
  padding: 0;
}
.genreList {
  background-color: gold;
  display: inline-block;
  margin: 5px;
  padding: 4px;
  border-radius: 5px;
  font-size: 16px;
}
